@tailwind base;
@tailwind components;
@tailwind utilities;

.bd {
  border: 1px solid #f00;
}

[x-cloak] {
  display: none !important;
}

html,
body {
  @apply min-h-full scroll-smooth;
}

html {
  @apply font-light leading-default text-body antialiased selection:bg-brand selection:text-white;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg width='85' height='85' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232bc1c5' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='0' cy='0' r='1'/%3E%3C/g%3E%3C/svg%3E");
}

#container {
  @apply flex min-h-screen flex-col;
}

#main {
  @apply flex-grow;
}

#footer {
  @apply flex-shrink-0;
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }

  .container {
    @apply max-w-screen-xl px-4;
  }

  strong {
    @apply text-body-dark dark:text-white;
  }

  a {
    @apply text-brand;
  }

  p {
    @apply leading-default;
  }
}
